<div class="container">
    <div class="row mt-3">
        <div class="col-6" >
            <mat-card class="full-width full-height">
                <mat-card-title-group>
                    <mat-card-title>MS in Computer Science</mat-card-title>
                    <mat-card-subtitle>Johns Hopkins University</mat-card-subtitle>
                </mat-card-title-group>
                <div class="img-wrapper"><img mat-card-image src="assets/jhu.png" alt="Johns Hopkins University logo"></div>
                <mat-card-content>
                    <p>
                        Focus on Data Science and Cloud Computing, <span class="font-weight-light fst-italic">GPA 3.96</span>
                    </p>
                    <p>
                        January 2019 - December 2022 <i class="font-weight-light">(Expected)</i>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card class="full-width full-height">
                <mat-card-title-group>
                    <mat-card-title>BS in Computer Engineering</mat-card-title>
                    <mat-card-subtitle>University of Maryland</mat-card-subtitle>
                </mat-card-title-group>
                <div class="img-wrapper"><img class="px-2 my-5" mat-card-image alt="University of Maryland logo" src="assets/umd.jpeg"></div>
                <mat-card-content>
                    <p>
                        Specialization in Cyber Security, <span class="font-weight-light fst-italic">GPA 3.69</span>
                    </p>
                    <p>
                        September 2013 - May 2017
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>