<mat-drawer-container [class.mobile-header]="true" >
    <mat-drawer #drawer mode="over" style="height: 100vh; width: 100vw" [style.position]="drawer.opened ? 'relative' : 'absolute'">
        <mat-nav-list class="full-height">
            <a mat-list-item class="px-2"><mat-icon mat-ripple style="float: right" (click)="drawer.close()">close</mat-icon></a>
            <a mat-list-item class="px-2" routerLink="home" (click)="drawer.close()">Home</a>
            <a mat-list-item class="px-2" routerLink="skills" (click)="drawer.close()">Skills</a>
            <a mat-list-item class="px-2" routerLink="education" (click)="drawer.close()">Education</a>
            <a mat-list-item class="px-2" routerLink="projects" (click)="drawer.close()">Projects & Work Experience</a>
            <a mat-list-item class="px-2" href="assets/zhartig_resume.pdf" (click)="drawer.close()">Résumé</a>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="full-width">
        <div class="toolbar" role="banner">
            <img width="40" src="assets/head.png" style="border-radius: 50%"/>
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div fxHide.xs>
                <a style="text-decoration: unset" routerLink="home">Zach Hartig</a>
                <a class="px-2" routerLink="skills">Skills</a>
                <a class="px-2" routerLink="education">Education</a>
                <a class="px-2" routerLink="projects">Projects & Work Experience</a>
                <a class="px-2" [matMenuTriggerFor]="toolsMenu">Tools</a>
                <a class="px-2" href="assets/zhartig_resume.pdf">Resume</a>

                <mat-menu #toolsMenu="matMenu">
                    <a mat-menu-item routerLink="tools/pay-tool"> Take Home Pay/Tax Estimator</a>
                </mat-menu>
            </div>
            <div class="spacer"></div>
            <a href="https://github.com/zhartig" target="_blank" style="width: 40px">
                <mat-icon style="color: white">code</mat-icon>
            </a>
            <a href="mailto:zhartig@zhartig.com" style="width: 40px">
                <mat-icon style="color: white">email</mat-icon>
            </a>
        </div>

        <div class="content" role="main">
            <router-outlet class="full-width"></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>


