<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
            width="40"
            alt="TODO pic?"
            src=""
    />
    <a style="text-decoration: unset" routerLink="home">Zach Hartig</a>
    <a class="px-2" routerLink="skills">Skills</a>
    <a class="px-2" routerLink="education">Education</a>
    <a class="px-2" routerLink="projects">Projects & Work Experience</a>
    <a class="px-2" href="assets/zhartig_resume.pdf">Resume</a>
    <div class="spacer"></div>
    <a href="https://github.com/zhartig" target="_blank" style="width: 40px">
        <mat-icon style="color: white">code</mat-icon>
    </a>
    <a href="mailto:zhartig@zhartig.com" style="width: 40px">
        <mat-icon style="color: white">email</mat-icon>
    </a>
</div>

<div class="content" role="main">
    <router-outlet class="full-width"></router-outlet>
</div>

