<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
            width="40"
            alt="TODO pic?"
            src=""
    />
    <span>Zach Hartig</span>
    <a class="px-2" routerLink="skills">Skills</a>
    <a class="px-2" routerLink="education">Education</a>
    <div class="spacer"></div>
    <a href="https://github.com/zhartig" target="_blank" style="width: 40px">
        <mat-icon style="color: white">code</mat-icon>
    </a>
    <a href="mailto:zhartig@zhartig.com" style="width: 40px">
        <mat-icon style="color: white">email</mat-icon>
    </a>
</div>

<div class="content" role="main">
    <router-outlet class="full-width"></router-outlet>
</div>

