<div class="container-fluid my-2">
    <div class="row">
        <div class="col"></div>
        <mat-card class="col-8">
            <div>
                <img class="mb-2 mx-2" src="assets/Aldo_Freya.png" alt="TODO change to me" style="float: left; max-height: 250px">
                <p>
                    Hi, my name is Zach Hartig, and I am a Senior Software Engineer at T. Rowe Price with over 6 years
                    of experience. I have experience with a wide variety of technologies, and my main focus is on
                    designing and implementing services to run on AWS.
                </p>
                <p>
                    Outside of work, I do some programming as well.  I write small scripts to automate processes that
                    I find time consuming. I also work on maintaining and enhancing my home infrastructure, which I use
                    to run these side projects.
                </p>
            </div>
        </mat-card>
        <div class="col"></div>
    </div>
</div>
